.main-header
{
    width: 100%;
    background: url(../images/header-bg.png) repeat-x;
    min-height: 151px;
    border-bottom: 2px solid #f9c31e;  
    object-position: top;
    position:relative;z-index:10;
    
}

.container
{
    max-width: 1200 px;
    width: 100%    
}

.logo {
    padding-left: 40px;
    padding-top: 25px;
}

@media only screen and (max-width: 992px) and (min-width: 768px)
.menu {
    margin-bottom: 0;
}
.menu {
    float: left;
    margin-bottom: 0px;
  
}

Label {
    display: inline-block;
    margin-left: 56px;
	margin-top: 49px;    
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 12px;
    width: 100%;
    float: left;
    text-align: center;
    
}

section {
      padding: 20px 0 20px 0;
      margin-bottom: 30px;
    max-height: 500px;
    }

#container {
      overflow: auto;
      height: 500px;
      padding: 0;
      margin: 10px 0 20px 0;
    }

.navi {
    padding: 16px;
    color: #ccc;	
}
.nav{
    position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      background: #fff;
      background: rgba(255, 255, 255, 0.8);
    
}
nav ul {
    position: relative;
}
ul {
    list-style-type: disc;
    margin: 0 0 1em 0;
}
nav li {    
    display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 12px;
    margin-top: 40px;
}

.nav-menu {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 12px;
    
}

.nav-menu {
    float: left;
    width: 89%;
}


/*
 Link style
 -------------------------*/
a {
	color: #4d87c7;
	text-decoration: none;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
a:active {
	outline: none;
}
:focus {
	outline: none;
}

/*-------------------------*/

nav li a {
	color: #fff;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding: 16px 12px;
}
nav li a:hover, nav li a:focus {
	color: #f9c31e;
}

nav ul {
	position: relative;
}
/* Clear Floated Elements
 ----------------------------------------------------------------------------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* icons -------------*/

.icons li {
	display: inline-block;
	padding: 2px 12px 0 0;
    color: cornsilk
}

.icons {
	text-align: center;
}

/* Style-one
 ===================*/
.menu .style-one .theme-overview {
	float: right;
	width: 400px;
	height: 390px;
	margin-right: 80px;
	margin-top: 74px;
}
.menu .style-one .theme-overview ul li {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.nav-menu {
	float: left;
	width: 89%;
}



.fa.fa-envelope{color:#fff;}
.fa.fa-envelope:hover{color:#4d87c7;}

.fa.fa-github{color:#fff;}
.fa.fa-github:hover{color:#4d87c7;}

.fa.fa-linkedin{color:#fff;}
.fa.fa-linkedin:hover{color:#4d87c7;}

/*copyright*/

.copyright > span {
	color: #798390;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-left: 23px;
}
.copyright > span>a{
	color: #798390;
	}
.copyright > span>a:hover {
	color:#f9c31e;
}