.section{
    
    min-height: 1000px;
    margin-top: 50px;
    padding-top: 80px; 
    
    
    }

#Home{
    overflow: hidden
}

.WelcomeText{
   position: absolute;
/*    padding-top: 10%;*/
/*    padding-left: 5%;*/
    left: auto;
    width: 100%;  
   
}

.homeImage{
    position: absolute;   
    float:left;
    left: 0px;    
    margin-bottom: 10px;
}

.mySlides {
    position: absolute;
    float:left;
    left: 0px;
    display:none;
    width:300px;
    height:500px;

}

.SectionBody{
     position: absolute;
    right: 0px;    
    padding: 10px;
}
