.gridStyle1
{
    margin:2px;
    min-height: 200px;
    background-color: lightsteelblue;
    border-radius: 15px;
    text-align: left;  
    height: auto;
    
}
  .gridStyle3
    {
      margin: 2px;
/*    min-height: 200px;*/
    background-color:lightsteelblue;
    text-align: left;  
    border-radius: 15px;
    height: -webkit-fill-available
    }
    
     .gridStyle2
    {
    margin: 2px;
/*    min-height: 200px;*/
    background-color: lightsteelblue;
    text-align: center;
        border-radius: 15px;
        height: -webkit-fill-available
    }
.article
{
    margin-left: 20px;
/*    background-color:lightsteelblue;*/
    margin-top: 10px;
}

p
{
     padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}


/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #161e21;
}
h1, .h1 {
	font-size: 50px;
}
h2, .h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {

}
h5 {

}
h6 {

}

img
{
    margin-left: 20%;
    width: 60%;
    height: inherit;
    
}



.bgImage {
/*
    background-image: url('../images/home3.jpg');
    background-position: center top fixed;
    background-repeat: no-repeat;
    background-size:contain;
*/
    background-color: lightgrey;
  
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
    
.Content_container
{
    height: auto;
    width: 100%;
}
    
.hide-scroll {
/*    overflow: hidden;*/
/*    background-color: darksalmon;*/
}

.viewport {
    overflow: auto;

    /* Make sure the inner div is not larger than the container
     * so that we have room to scroll.
     */
    max-height: 100%;

    /* Pick an arbitrary margin/padding that should be bigger
     * than the max width of all the scroll bars across
     * the devices you are targeting.
     * padding = -margin
     */
    margin-right: -100px;
    padding-right: 100px;
}
    
    .headerGrid{
        
  display: grid;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  
/*  grid-template-columns: repeat(3, 1fr);*/
  grid-template-rows: 80px auto 80px;
  grid-gap: 20px;
  
  grid-template-areas: "header   header   header"
                       "main     main     sidebar"
                       "footer   footer   footer";
    }
    
   
 .item-1 {
/*  background: #b03532;*/
  
}
    
    .item-2 {
  background: #33a8a5;
  grid-area: main;
  
  display: grid;
  
  grid-template-columns: 1fr 30%;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  
  grid-template-areas: "header header"
                       "article sidebar";
  
}
    .item-6 {
  background: #3d8bb1;
  grid-area: article;
}
.item-7 {
  background: #e03f3f;
  grid-area: sidebar;
}
    
  