/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #161e21;
}
h1, .h1 {
	font-size: 50px;
}
h2, .h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {

}
h5 {

}
h6 {

}

.bgImage {
    background-image: url('../images/home2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Content_container
{
    height: auto;
    width: 100%;
    
}
